# Supabase
VITE_SUPABASE_URL="https://mrqrtteveumwmqczcmgk.supabase.co"
VITE_SUPABASE_ANON_KEY="sb_publishable_sHE8RfARk45WXhiC0g8iCQ_8v-fyYXj"

# AMap (高德地图)
VITE_AMAP_JS_KEY="a1465e09abc4cfc126ca124efcc9d0d8"
AMAP_WEB_KEY="21d5e2540697ddfc50ed82ddf2975e64"

# Kimi (Moonshot AI)
KIMI_API_KEY="sk-Ns9eTMGYW9gS0PVLbZOUTq4fq4CFRzIYiUv86sbiRCjQfLcn"
